################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs
/Backend/Application/bin
/Backend/Application/obj
/Backend/Common/bin
/Backend/Common/obj
/Backend/Domain/bin
/Backend/Domain/obj
/Backend/Infrastructure/bin
/Backend/Infrastructure/obj
/Backend/Web/bin
/Backend/Web/obj
/.vs
