@import '../../environment/variables';

.admin-panel-container {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
    width: 280px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.admin-panel-container h3 {
    margin: 0 0 10px;
    font-size: 18px;
    text-align: center;
}

.actions label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    font-weight: bold;
}

.actions select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background: #34495e;
    color: #ecf0f1;
}

.confirm-button {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: $Bg-Secondary-Color;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.confirm-button:hover {
    background: $OnCoursor-Bg-Color;
}


.group-management{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.group-management label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    font-weight: bold;
}

.group-management select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background: #34495e;
    color: #ecf0f1;
}

.group-title {
    text-align: start;
    padding-top: 15px;
}

.add-group-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.group-management input {
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-group-button {
    width: 100%;
    background: $Bg-Secondary-Color;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.add-group-button:hover {
    background: $OnCoursor-Bg-Color;
}

.remove-group-button {
    width: 100%;
    background: #f53434;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.remove-group-button:hover {
    background: #f72727;
}
.remove-user-from-group{
    width: 100%;
    background: #f53434;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; 
    background: #f72727;
}
.remove-user-from-group:hover{
    background: #f72727;
}

