<header class="header">
    <div class="header-block">
        <img class="header-logo" src="/service_logo.ico">

        <div class="header-right">
            <div *ngIf="title" class="header-title" (click)="toggleDropdown()">{{ title }}</div>

            <div *ngIf="isDropdownOpen" class="dropdown-menu">
                <button *ngIf="userId" [routerLink]="['/profile', userId]">Профиль</button>
                <button (click)="logout()">Выйти</button>
            </div>
        </div>
    </div>
</header>
