.users-list-container{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
    padding-top: 20px;
    
}
.navigation-block{
    display: flex;
    flex-direction: row;
}