<div class="register-form">
    <div class="title-text">
        <div class="title">Регистрация</div>
    </div>
    <div class="input-block">
        <input type="text" placeholder="Имя" name="name" id="name" required>
        <input type="text" placeholder="Фамилия" name="surname" id="surname" required>
        <input type="tel" placeholder="Номер телефона" name="phone-number" id="phone-number" phoneMask>
        <input type="email" placeholder="Почта" name="email" id="email" required>
        <input type="password" placeholder="Пароль" name="password" id="password" required>
        <input type="text" placeholder="Номер группы" name="group-number" id="group-number" required>
    </div>
    <div class="button-container">
    <app-button text="Зарегистрироваться" height="40px" route="/"></app-button>
</div>
</div>