@import '../../environment/variables';

.register-form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 48px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 1px #aaaaaa;
    height: fit-content;
    width: 655px;
    margin: auto;
    margin-top: 7%;
    padding: 24px 22px 24px 22px;
}

.title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .title {
        font-size: 24px;
        font-weight: 525;
        text-align: center;
        font-family: 'Inter', sans-serif;
    }
}

.input-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 24px 0 24px;
    font-family: 'Inter', sans-serif ;


    input {
        background-color: $Input-Bg-Color;
        border-radius: 12px;
        height: 36px;
        border: none;
        outline: none;
        font-size: 16px;
        padding-left: 16px;
        font:inherit;
    }
}
.button-container{
    padding: 0px 160px 0px 160px;
    height: 40px;
}