<app-header [userRole]="userRole" [userLink]="'Пользователи'" [title]="user?.credentials" [userId]="userId"
    [currentUserId]="currentUserId">
</app-header>

<div class="main-container">
    <app-filter-block></app-filter-block>
    <div class="applications-container">
        <app-application-card></app-application-card>
        <app-application-card></app-application-card>
        <app-application-card></app-application-card>
        <app-application-card></app-application-card>
        <app-application-card></app-application-card>
        <app-application-card></app-application-card>


        <app-add-application-button></app-add-application-button>
    </div>
</div>