<app-header [title] = "username"></app-header>
<div class="main-container">
    <app-filter-block></app-filter-block>
    <div class="applications-container">
        <app-application-card></app-application-card>
        <app-application-card></app-application-card>
        <app-application-card></app-application-card>
        <app-application-card></app-application-card>
        <app-application-card></app-application-card>
        <app-application-card></app-application-card>
        <app-add-button></app-add-button>
    </div>
</div>