@import '../../environment/variables';

.main-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: auto;
    margin-top: 100px;
    width: fit-content;
    justify-content: center;
}

.applications-container {
    position: relative;
    background-color: #fff;
    padding: 16px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    min-width: 500px;
    gap: 32px;
    box-sizing: border-box;
    border-radius: 8px;
}

app-application-card {
    width: calc((100% - 64px) / 3);
    min-width: 225px;
    max-width: 300px;
    height: fit-content;

}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    button {
        color: $Bg-Secondary-Color;
        border: none;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
            color: $OnCoursor-Bg-Color;
        }

        &:disabled {
            color: #b0bec5;
            cursor: default;
        }
    }

    span {
        font-size: 16px;
        font-weight: bold;
    }
}
